	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/12/2016 10:03
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
  margin-right: 6px;
}s

.flaticon-add:before { content: "\f100"; }
.flaticon-agenda:before { content: "\f101"; }
.flaticon-answer:before { content: "\f102"; }
.flaticon-calendar:before { content: "\f103"; }
.flaticon-cancel:before { content: "\f104"; }
.flaticon-cancel-1:before { content: "\f105"; }
.flaticon-cancel-2:before { content: "\f106"; }
.flaticon-check-mark:before { content: "\f107"; }
.flaticon-checked:before { content: "\f108"; }
.flaticon-checked-1:before { content: "\f109"; }
.flaticon-clock:before { content: "\f10a"; }
.flaticon-communication:before { content: "\f10b"; }
.flaticon-conversation-questions:before { content: "\f10c"; }
.flaticon-direction:before { content: "\f10d"; }
.flaticon-download:before { content: "\f10e"; }
.flaticon-fax-machine:before { content: "\f10f"; }
.flaticon-google-plus:before { content: "\f110"; }
.flaticon-google-plus-logo:before { content: "\f111"; }
.flaticon-help-button-speech-bubble-with-question-mark:before { content: "\f112"; }
.flaticon-home:before { content: "\f113"; }
.flaticon-home-1:before { content: "\f114"; }
.flaticon-home-page:before { content: "\f115"; }
.flaticon-icon-1:before { content: "\f116"; }
.flaticon-icon-1789:before { content: "\f117"; }
.flaticon-interface:before { content: "\f118"; }
.flaticon-interface-1:before { content: "\f119"; }
.flaticon-interface-2:before { content: "\f11a"; }
.flaticon-internet:before { content: "\f11b"; }
.flaticon-line:before { content: "\f11c"; }
.flaticon-link-symbol:before { content: "\f11d"; }
.flaticon-location:before { content: "\f11e"; }
.flaticon-magnifier:before { content: "\f11f"; }
.flaticon-paperclip:before { content: "\f120"; }
.flaticon-people:before { content: "\f121"; }
.flaticon-picture:before { content: "\f122"; }
.flaticon-play-button:before { content: "\f123"; }
.flaticon-plurk-logo:before { content: "\f124"; }
.flaticon-plus:before { content: "\f125"; }
.flaticon-question-mark:before { content: "\f126"; }
.flaticon-settings:before { content: "\f127"; }
.flaticon-shopping-cart:before { content: "\f128"; }
.flaticon-sitemap:before { content: "\f129"; }
.flaticon-social-media:before { content: "\f12a"; }
.flaticon-social-media-1:before { content: "\f12b"; }
.flaticon-social-media-10:before { content: "\f12c"; }
.flaticon-social-media-2:before { content: "\f12d"; }
.flaticon-social-media-3:before { content: "\f12e"; }
.flaticon-social-media-4:before { content: "\f12f"; }
.flaticon-social-media-5:before { content: "\f130"; }
.flaticon-social-media-6:before { content: "\f131"; }
.flaticon-social-media-7:before { content: "\f132"; }
.flaticon-social-media-8:before { content: "\f133"; }
.flaticon-social-media-9:before { content: "\f134"; }
.flaticon-tablet:before { content: "\f135"; }
.flaticon-telephone:before { content: "\f136"; }
.flaticon-youtube:before { content: "\f137"; }
.flaticon-youtube-symbol:before { content: "\f138"; }